<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세 정보</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/item_detail_style.css}">
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>
<body>

<div th:insert="~{nav.html}"></div>
<div th:insert="~{popup.html}"></div>
<script th:src="@{/js/login.js}"></script>

<section class="product-detail">
    <div th:if="${item.user.id == userId}" class="action-icon" onclick="toggleDropdownMenu()"
         style="position: absolute; top: 70px; right: 350px;">
        •••
        <div class="dropdown-menu" id="dropdownMenu">
            <button onclick="editProduct()">수정</button>
            <button onclick="deleteProduct()">삭제</button>
        </div>
    </div>

    <h2 th:text="${item.itemName}">상품 이름</h2>

    <!-- 슬라이드 이미지 표시 -->
    <div class="product-detail-image">
        <button class="slide-button prev-button" onclick="changeSlide(-1)">&#10094;</button>
        <img th:each="image, iterStat : ${item.images}" th:src="${image.base64Image}"
             th:classappend="${iterStat.index == 0} ? 'active' : 'inactive'" style="display: none;" alt="Product Image">
        <button class="slide-button next-button" onclick="changeSlide(1)">&#10095;</button>
    </div>

    <div class="product-info">
        <p th:text="${item.itemDescription}">상품 설명</p>
    </div>

    <!-- 가격 및 액션 버튼 -->
    <div class="product-actions">
        <span class="price" th:text="'₩' + ${item.price}">₩가격</span>
        <button class="button cart-button" th:onclick="'addToCart(' + ${item.itemId} + ')'"
                data-item-id="[[${item.itemId}]]">장바구니 담기
        <button class="button buy-button" onclick="payProduct()">바로 구매</button>
    </div>
</section>

<script th:src="@{/js/item_detail.js}"></script>


</body>
</html>