<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .nav h1 {
            font-size: 24px;
            margin: 0;
            color: white; /* 글자 색상을 흰색으로 설정 */
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="nav">
    <h1>Coin Trade</h1>
    <div class="menu">
        <a href="/home" id="homeLink">Home</a>
        <a href="#" id="myPageLink">My Page</a>
        <a href="/cart" id="cartLink">장바구니</a>
    </div>
    <button class="login-button" id="loginButton" onclick="login()">Login</button>
    <div class="balance-display" id="balanceDisplay" style="display: none; align-items: center;" onclick="openPopup()">
        <img src="/images/wallet_icon.png" style="width: 20px; height: 20px; margin-right: 5px;">
        <span>ETH: </span>
        <span id="ethBalance" style="margin-left: 5px;"></span>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>